{% extends 'base.html.twig' %}


{% block title %}
    Test Page New
{% endblock %}


{% block body %}
    <h1>Pour créer un nouvel article.<h1/>
    <hr>
    <p> Ca à l'air de marcher...encore</p>

{% endblock %}
