{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}
  <hr>
  <h1 class="p-5 border-bottom ">
    <span class="p-2 text-uppercase">Bienvenue sur mon blog Symfony</span>
  </span>!<h1/>

{% endblock %}
