{% extends 'base.html.twig' %}


{% block title %}
    Accueil
{% endblock %}


{% block body %}
    <h1>Test de Bog avec Symfony !<h1/>
    <hr>
    <p> Ca à l'air de marcher...</p>
    <p>...à voir avec la suite. </p>
{% endblock %}
