{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}
  <div class="container p-5">
    <h1 class="p-2 text-center">Bienvenue sur mon blog Symfony!</h1>

  </div>

{% endblock %}
