{% extends 'base.html.twig' %}


{% block title %}
    Test Page Home
{% endblock %}


{% block body %}
    <h1>Test de Symfony<h1/>
    <p> Ca à l'air de marcher...</p>
    <p>...à voir avec la suite. </p>
{% endblock %}
